body {
    background-color: #1A1A40;
    color: white;
}

hr {
    background-color: #1A1A40;
    border-color: #FA58B6;
    border-style: dotted none none;
    border-width: 10px;
    width: 10%;
}

.job-title {
    color: #FA58B6;
}
.skill {
    color: #FA58B6;
}